// LINKS
a:link,
a:visited {
 color: $gray-medium;
}

a:focus,
a:hover,
a:active,
a.active,
button:focus,
button:hover,
button:active {
 color: $gray-dark;
 outline: none;
 text-decoration: none;
}

// SPACING
h1 {
 margin-bottom: 1.5rem;
}
h2 {
 margin-bottom: 1rem;
}
h3 {
 margin-bottom: 0.5rem;
}

// INTRINSIC RATIO TECHNIQUE -- prevent content jumping when lazy loading images
.img-container {
 background-color: $gray-light;
 display: block;
 /* Anchor tags are often the containers of imgs */
 height: 0;
 padding-bottom: 64.53%;
 position: relative;
 overflow: hidden;
 @include media-breakpoint-up(576) {
  padding-bottom: 64.51%;
 }
 @include media-breakpoint-up(768) {
  padding-bottom: 64.55%;
 }

 img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
 }
}

.cover {
 .col-xl-6 .img-container {
  @include media-breakpoint-up(768) {
   padding-bottom: 64.49%;
  }
  @include media-breakpoint-up(992) {
   padding-bottom: 64.52%;
  }
  @include media-breakpoint-up(1200) {
   padding-bottom: 64.44%;
  }
 }

 .col-xl-3 .img-container {
  @include media-breakpoint-up(992) {
   padding-bottom: 64.44%;
  }
  @include media-breakpoint-up(1200) {
   padding-bottom: 64.71%;
  }
 }
}

.lg-article .img-container {
 padding-bottom: 129.07%;
 @include media-breakpoint-up(375) {
  padding-bottom: 100%;
 }
 @include media-breakpoint-up(480) {
  padding-bottom: 91.74%;
 }
 @include media-breakpoint-up(576) {
  padding-bottom: 88.24%;
 }
 @include media-breakpoint-up(768) {
  padding-bottom: 93.48%;
 }
 @include media-breakpoint-up(992) {
  padding-bottom: 77.42%;
 }
 @include media-breakpoint-up(1200) {
  padding-bottom: 70.27%;
 }
}

.hsh-articles .img-container,
.bsh-articles .img-container {
 @include media-breakpoint-up(768) {
  padding-bottom: 100%;
 }
}

.sh-articles .img-container {
 @include media-breakpoint-up(768) {
  padding-bottom: 100%;
 }
 @include media-breakpoint-up(992) {
  padding-bottom: 64.48%;
 }
 @include media-breakpoint-up(1200) {
  padding-bottom: 64.59%;
 }
}

.articles .img-container,
.related .img-container {
 @include media-breakpoint-up(992) {
  padding-bottom: 64.48%;
 }
 @include media-breakpoint-up(1200) {
  padding-bottom: 64.57%;
 }
}

.harticles .img-container,
.barticles .img-container {
 @include media-breakpoint-up(1200) {
  padding-bottom: 64.48%;
 }
}

figure .img-container {
 @include media-breakpoint-up(768) {
  padding-bottom: 64.49%;
 }
 @include media-breakpoint-up(992) {
  padding-bottom: 64.52%;
 }
 @include media-breakpoint-up(1200) {
  padding-bottom: 64.48%;
 }
}
