body {
 font: 1rem/1.5 Roboto, sans-serif;

 @include media-breakpoint-up(768) {
  font-size: 1.1rem;
 }
 @include media-breakpoint-up(1200) {
  font-size: 1.2rem;
 }
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: Roboto, sans-serif;
 font-weight: bold;
}
