// In-article spacing

.semispace {
 margin-top: 1rem !important;
}

.space {
 margin-top: 2rem !important;
}

.extraspace {
 margin-top: 2.5rem !important;
}

.ultraspace {
 margin-top: 3rem !important;
}

.xultraspace {
 margin-top: 3.5rem !important;
}

.xxultraspace {
 margin-top: 4rem !important;
}
