figure figcaption {
 margin-top: 1rem;
}

@include media-breakpoint-up(576) {
 /* Second link to eidh-karkinou on karkinos */
 .contents ~ .contents .icon-up {
  font-size: 1rem;
  margin-top: 0;
 }
}
