#ab {
 background-color: $green;
 border-radius: 5px;
 /* #228B22 -- not enough contrast */
 margin-top: 5rem;
 padding-top: 1rem;
 text-align: center;

 a,
 p {
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  width: 2.5rem;
 }

 p {
  color: $gray-light-two;
 }

 a:active,
 a:focus,
 a:hover {
  border-color: #fff;
 }

 & ~ div {
  margin-bottom: 6rem;
  margin-top: 6rem;

  p {
   font-size: 1.5rem;
   font-weight: bold;
  }

  a {
   display: block;
   margin-top: 0.8rem;

   &:active,
   &:focus,
   &:hover {
    color: $green;
   }
  }
 }
}

#healthmenu p {
 @include media-breakpoint-up(992) {
  margin-top: 0.15rem;
 }
}
