// Colors

$gray-light: #dcdcdc;
$gray-light-two: #a9a9a9;
$gray-medium: #696969;
$gray-dark: #393939;
$gray-darker: rgba(0, 0, 0, 0.125);

$black-light: #333;

$green: #008000;
$green-dark: #006400;

$orange: #eb8100;
$orange-dark: #de7a00;
